.navContainer {
  background-color: #000000; /* Black background */
  background-image: repeating-linear-gradient(
    45deg,
    #1c214b, /* A darker shade of gray for the lines */
    #092052 5px, /* Narrower lines for a less intrusive pattern */
    transparent 5px,
    transparent 20px /* Wider transparent spacing for a cleaner look */
  );
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 100%;
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



.navList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0; /* Assuming you don't want padding on the left */
  list-style: none;
}

.navItem {
  margin: 0 30px; /* Increased spacing for a cleaner look */
  position: relative; /* For the underline effect */
}

.navLinkContainer {
  text-decoration: none;
}

.navLink {
  color: white;
  font-size: 1.1em; /* Slightly larger text */
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
  padding: 5px 0; /* Padding for larger clickable area */
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0; /* Ensure it starts from the very left */
  width: 100%; /* Ensure it spans the full width of the nav link */
  height: 2px;
  background-color: #007bff;
  transform: scaleX(0);
  transform-origin: left; /* Scale from the left */
  transition: transform 0.3s;
}

.navLink:hover::after,
.navLink:focus::after {
  transform: scaleX(1);
}

.navLink:hover,
.navLink:focus {
  color: #007bff;
  outline: none; /* Remove focus outline */
}
